<div class='container'>
	<h1 class='name'> John Paul Kee </h1>
	<div class = 'social-media'>
		<p class='subheader'> Social Media </p>
		<ul>
			<li><u><a href='https://www.facebook.com/johnpaulkee'>Facebook</a></u></li>
			<li><u><a href='https://twitter.com/johnpaulkee'>Twitter</a></u></li>
			<li><u><a href='https://medium.com/@johnpaulkee'> Medium</a></u></li>
			<li><u><a href='https://ca.linkedin.com/in/johnpaulkee'> Linkedin</a></u></li>
		</ul>
	</div>
	<div id='intro'>
			<p>I'm a Canadian student studying Computer Science at the University of British Columbia. Originally I was born in Singapore, and raised in Vancouver, BC Canada.</p>
	</div>
	<br>
	<center>
		<!-- <%= image_tag("foodbank_feed.png", :alt => "feed", :class => "proj") %>
		<%= image_tag("foodbank_feedback.png", :alt => "feedback", :class => "proj") %>
		<%= image_tag("foodbank_map.png", :alt => "map", :class => "proj") %>
		<%= image_tag("wise_login.png", :alt => "map", :class => "proj") %>
		<%= image_tag("wise_restaurants.png", :alt => "map", :class => "proj") %>
		<%= image_tag("sapinternpodcast.png", :alt => "map", :class => "proj") %>
		<%= image_tag("episode1cover.png", :alt => "map", :class => "proj") %>
		<%= image_tag("episode2coverphoto.png", :alt => "map", :class => "proj") %>
		<%= image_tag("episode3coverphoto.png", :alt => "map", :class => "proj") %>
		<%= image_tag("episode4coverphoto.png", :alt => "map", :class => "proj") %> -->
	</center>
</div>
