<div id='main'>
	<div class='container'>
	      <div class="row">
					<!-- Name -->
	        <div class="col s12 s12">
	          <div class="card teal">
							<div class ="panel-heading teal lighten-5">
								 NAME
								 <%= image_tag("mini_logo.png", :alt => "logo", :class => "mini-logo") %>
							</div>
	            <div class="card-content white-text">
	              <p>JOHN_PAUL_KEE -- </p>
								<p>
									I'm a 21 year old student studying Computer Science at the University of British Columbia.
								</p>
	            </div>
	          </div>
	        </div>
					<!-- SYNPOSIS -->
					<div class="col s12 s12">
						<div class="card teal">
							<div class ="panel-heading teal lighten-5">
								 SYNOPSIS
							</div>
							<div class="card-content white-text">
								<!-- <span class="card-title">SYNOPSIS</span> -->
								<p>Welcome to my personal portfolio.</p>
								<p>
									Here is a selection of my favourite personal projects.
								</p>
							</div>
						</div>
					</div>
	      </div>
	</div>
</div>

<nav class="teal">
  <div class="nav-wrapper">
    <div class="col s12">
      <a href="#!">Description</a>
			<a href='https://www.facebook.com/johnpaulkee'>Facebook</a>
			<a href='https://twitter.com/johnpaulkee'>Twitter</a>
			<a href='https://medium.com/@johnpaulkee'> Medium</a>
			<a href='https://ca.linkedin.com/in/johnpaulkee'> Linkedin</a>
    </div>
  </div>
</nav>

<!-- Images -->
<!-- <%= image_tag("foodbank_feed.png", :alt => "feed", :class => "proj") %>
<%= image_tag("foodbank_feedback.png", :alt => "feedback", :class => "proj") %>
<%= image_tag("foodbank_map.png", :alt => "map", :class => "proj") %>
<%= image_tag("wise_login.png", :alt => "map", :class => "proj") %>
<%= image_tag("wise_restaurants.png", :alt => "map", :class => "proj") %>
<%= image_tag("sapinternpodcast.png", :alt => "map", :class => "proj") %>
<%= image_tag("episode1cover.png", :alt => "map", :class => "proj") %>
<%= image_tag("episode2coverphoto.png", :alt => "map", :class => "proj") %>
<%= image_tag("episode3coverphoto.png", :alt => "map", :class => "proj") %>
<%= image_tag("episode4coverphoto.png", :alt => "map", :class => "proj") %> -->
