<div id='intro'>
	<div class = 'container'>
			<div class="row">
				<!-- Name -->
				<div class="col s12 s12">
					<div class="card medium" id="man-jp">
						<div class="card-content white-text">
							<code>
								Last login: {date} on {machine}
								<br />
								[jp: ~]% man JOHN_PAUL_KEE
							</code>
						</div>
					</div>
				</div>
		</div>
	</div>
</div>
<div id='main'>
	<div class='container'>
	      <div class="row">
					<!-- Name -->
					<div class="col s12 s12">
	          <div class="card teal">
							<div class ="panel-heading teal lighten-5">
								 NAME
								 <%= image_tag("mini_logo.png", :alt => "logo", :class => "mini-logo") %>
							</div>
	            <div class="card-content white-text">
	              <p>JOHN_PAUL_KEE -- </p>
								<p>
									I'm a 21 year old student studying Computer Science at the University of British Columbia.
								</p>
	            </div>
	          </div>
	        </div>
					<!-- SYNPOSIS -->
					<div class="col s12 s12">
						<div class="card teal">
							<div class ="panel-heading teal lighten-5">
								 SYNOPSIS
							</div>
							<div class="card-content white-text">
								<!-- <span class="card-title">SYNOPSIS</span> -->
								<p>Welcome to my personal portfolio.</p>
								<p>
									Here is a selection of my favourite personal projects.
								</p>
							</div>
						</div>
					</div>
	      </div>
	</div>
</div>

<nav class="teal">
  <div class="nav-wrapper">
    <div class="col s12">
      <a href="#!">Description</a>
			<a href='https://www.facebook.com/johnpaulkee'>Facebook</a>
			<a href='https://twitter.com/johnpaulkee'>Twitter</a>
			<a href='https://medium.com/@johnpaulkee'> Medium</a>
			<a href='https://ca.linkedin.com/in/johnpaulkee'> Linkedin</a>
    </div>
  </div>
</nav>
<br />
<div class = "container">
	<div class="row">
	 <div class="col s12 m6 l4">
		 <div class="card medium">
			 <div class="card-image">
				<%= image_tag("foodbank_feedback.png", :alt => "feedback", :class => "proj") %>
        <span class="card-title">Greater Vancouver Food Bank</span>
      </div>
			 <div class="card-content">
				 <p>Food Bank Feedback Image</p>
			 </div>
			 <div class="card-action">
				 <a href="#">This is a link</a>
			 </div>
		 </div>
	 </div>

	 <div class="col s12 m6 l4">
		 <div class="card medium">
			 <div class="card-image">
				<%= image_tag("wise_login.png", :alt => "feedback", :class => "proj") %>
				 <span class="card-title">WISE</span>
			 </div>
			 <div class="card-content">
				 <p>WISE Login</p>
			 </div>
			 <div class="card-action">
				 <a href="#">This is a link</a>
			 </div>
		 </div>
	 </div>

	 <div class="col s12 m6 l4">
		 <div class="card medium">
			 <div class="card-image">
				 <%= image_tag("wise_restaurants.png", :alt => "map", :class => "proj") %>
				 <span class="card-title">WISE</span>
			 </div>
			 <div class="card-content">
				 <p>WISE Map</p>
			 </div>
			 <div class="card-action">
				 <a href="#">This is a link</a>
			 </div>
		 </div>
	 </div>

	 <div class="col s12 m6 l3">
		 <div class="card small">
			 <div class="card-image">
				 <%= image_tag("sapinternpodcast.png", :alt => "map", :class => "proj") %>
			 </div>
			 <div class="card-content">
				 <p> SAP Intern Podcast </p>
			 </div>
			 <div class="card-action">
				 <a href="#">This is a link</a>
			 </div>
		 </div>
	 </div>

	 <div class="col s12 m6 l3">
		 <div class="card small">
			 <div class="card-image">
				 <%= image_tag("episode2coverphoto.png", :alt => "map", :class => "proj") %>
			 </div>
			 <div class="card-content">
				 <p>Episode 2</p>
			 </div>
			 <div class="card-action">
				 <a href="#">This is a link</a>
			 </div>
		 </div>
	 </div>

	 <div class="col s12 m6 l3">
		 <div class="card small">
			 <div class="card-image">
				 <%= image_tag("episode3coverphoto.png", :alt => "map", :class => "proj") %>
			 </div>
			 <div class="card-content">
				 <p>Episode 3</p>
			 </div>
			 <div class="card-action">
				 <a href="#">This is a link</a>
			 </div>
		 </div>
	 </div>

	 <div class="col s12 m6 l3">
		 <div class="card small">
			 <div class="card-image">
				 <%= image_tag("episode4coverphoto.png", :alt => "map", :class => "proj") %>
			 </div>
			 <div class="card-content">
				 <p>Episode 4</p>
			 </div>
			 <div class="card-action">
				 <a href="#">This is a link</a>
			 </div>
		 </div>
	 </div>
</div>
